@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import "./variables.scss";
@font-face {
  font-family: prime;
  src: url("../font/Regina.ttf");
}
@font-face {
  font-family: praise;
  src: url("../font/Praise-Regular.ttf");
}
@font-face {
  font-family: poppins;
  src: url("../font/Poppins-Regular.ttf");
}
.cursor {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $primary;
}
.cursor-outer {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $primary;
  transition: linear 0.2s;
}

body {
  background: $bgcolor;
  color: $color;
  width: 100%;
  height: fit-content;
  font-family: Roboto, poppins;
  // overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  top: -5px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    a {
      text-decoration: none;
      font-family: praise, sans-serif;
      color: $color;
      text-shadow: 3px 0 $primary;
    }
  }
  .menu {
    span {
      transition: 0.2s linear;
      border-radius: 5px;
    }

    input:checked + .ham {
      span:nth-of-type(1) {
        width: 2rem;
        transform: rotate(405deg);
        margin: -0.125rem 0;
      }
      span:nth-of-type(2) {
        transform: rotate(-45deg);
        margin: -0.125rem 0;
      }
    }
  }
  .links {
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;

    li {
      list-style: none;
    }
    li a {
      text-decoration: none;
      color: $color;

      font-weight: bold;
      letter-spacing: 2px;
      position: relative;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
